.footer {
  padding-block: 50px;
  background: var(--color-primary);
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.footer__links h3,
.footer__contacto h3 {
  font: var(--fs-18);
  font-weight: 500;
  color: var(--color-secondary);
  padding-bottom: 16px;
}

.footer__links a,
.footer__contacto a {
  color: white;
  font: var(--fs-16);
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    justify-content: baseline;
    gap: 110px;
  }
}
