.hero {
  height: 300px;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.499);
}

.hero__image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero__title {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: var(--fs-32);
  font-weight: 800;
  color: white;
}
